body {
	background: #dedbd5;
	color: #00006b;
	font-family: "JetBrains Mono", serif;
	margin: 0;
	overflow: hidden;
}

pre {
	font-size: 12pt;
}

#name {
	text-align: center;
}

h1, h2, h3 {
	text-align: center;
	margin-left: 5vw;
	margin-right: 5vw;
}

#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fffdeb;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#loading-screen.hidden {
	opacity: 0;
	visibility: hidden;
}

#content-wrapper {
	margin-left: 30vw;
	margin-right: 30vw;
	margin-top: 10vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
	background: rgba(255, 253, 235, 0.9);
	box-shadow: 0 0 0 2.5px #00006b inset;
}

@media (orientation: portrait) {
	#content-wrapper {
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

#buttons {
	display: flex;
	justify-content: center;
	width: 60%;
	margin: auto;
}

a {
	padding: 1vw;
	color: #194582;
}

#background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: #fffdeb;
	margin: 0;
	top: 0;
	z-index: -1;
	color: #B9B8C8;
	text-align: center;
	display: flex;
	align-items: center;
	user-select: none;
}

#copyright {
	font-size: 9pt;
	text-align: center;
	margin-top: 2.5vh;
	margin-left: 5vw;
	margin-right: 5vw;
}
